header img{
  display: inline-block;
}

header p{
display: inline-block;
}

header nav{
  float: right;
}

#head2 p:last-child{
float: right;
}

#head3{
  background-color: aquamarine;
  height: 20px;
}

body{
  float: none;
  width:901px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: inline-block;
  font-size: x-large;
}

#list1 {
  position: absolute;
  margin-right: 250px;
  
}

#foot3 {
  background-color: aquamarine;
  height: 20px;
}

#foot1 {
  display: inline-bock;
}

#foot1 img {
  display: inline-block;
}

#foot1 p {
  display: inline-block;
  margin-left: 100px;
  width: 600px;
}

button{
  display: inline-block;
}

#foot2{
  text-align: center;
}

#onimg {
  position: relative;
  text-align: center;
}
