header img{
  display: inline-block;
}

header p{
display: inline-block;
}

h1 {
  margin-bottom: 0px;
  font-family: fantasy;
}
header nav{
  float: right;
}

#head2 p:last-child{
float: right;
}

#head3{
  height: 20px;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 2px,
    #ccc 12px

  )
}

body{
  float: none;
  width:901px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: inline-block;
  font-size: x-large;
  text-align: center
  
}

#foot3 {
  /* background-color: aquamarine; */
  height: 20px;
  margin-top: 100px;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 2px,
    #ccc 12px

  )
  
}

#foot1 {
  display: inline-bock;

  
}

#foot1 img {
  display: inline-block;
}

#foot1 p {
  display: inline-block;
  margin-left: 100px;
  width: 600px;
}

button{
  display: inline-block;
  background-color: red;
  border-radius: 100px;
}

#foot2{
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

#onimg {
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-201d59/master/class-10/lab-a/lab-assets/list-bg.png");
}

li {
  margin-left: 100px;
}

#print {
  /* color: #000; */
  color: rgba(0, 0, 0, 0.5)
}

#fifteen {
  color: rgba(0, 0, 0, 0.5)
}